alias gw=./gradlew
alias gwp="gw --console=plain"
alias gwv="gw --console=verbose"

alias mw=./mvnw

{{ if eq .chezmoi.os "linux" -}}
open() {
    for arg in "$@"; do
        xdg-open "$arg" &> /dev/null
    done
}
alias pbcopy='xclip -sel cl -i'
alias pbpaste='xclip -sel cl -o'
{{ end -}}

# chezmoi
alias cm=chezmoi

# eza
alias ls='eza -l -g --icons'

if (( $+commands[lazygit] )); then
    alias lg=lazygit
fi

# neovim
alias vim=nvim

# Terraform
if (( $+commands[terraform] )); then
    alias tf=terraform
    alias tfi='tf init'
    alias tfp='tf plan'
    alias tfa='tf apply'
    alias tfaa='tf apply -auto-approve'
fi

# vim:ft=zsh
