# Set CLICOLOR if you want Ansi Colors in iTerm2
export CLICOLOR=1

# neovim
export EDITOR=nvim

export LESS='--long-prompt --ignore-case --raw-control-chars'

{{ if eq .chezmoi.os "darwin" -}}
export _JAVA_HOME=$(/usr/libexec/java_home)
{{ end -}}

# bat
export MANROFFOPT="-c"
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

# cargo
if [ -x $HOME/.cargo/bin ]; then
    export PATH=$PATH:$HOME/.cargo/bin
fi

# fzf
export FZF_DEFAULT_OPS="--extended"
export FZF_DEFAULT_COMMAND="fd --type f"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# go
if [ -x $HOME/go ]; then
    export GOPATH=$HOME/go
    export GOBIN=$GOPATH/bin

    export PATH=$PATH:$GOBIN
fi

# homebrew
export HOMEBREW_NO_ENV_HINTS=1

# pact
PACT_PATH=/opt/pact/bin
if [ -x $PACT_PATH ]; then
    export PATH=$PATH:$PACT_PATH
fi

# krew
if (( $+commands[kubectl-krew] )); then
    export PATH="$PATH:$HOME/.krew/bin"
fi

# vim:ft=zsh
