# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Platform specific customizations
if [[ -e ~/.platformrc ]]; then
    source ~/.platformrc
fi

{{ if eq .chezmoi.os "darwin" -}}
source /opt/homebrew/share/antigen/antigen.zsh
{{ else if eq .chezmoi.os "linux" -}}
source /usr/share/zsh/share/antigen.zsh
{{ end -}}
antigen init ~/.antigenrc

# Source all the configs
source ~/.zsh/aliases.zsh
source ~/.zsh/exports.zsh
source ~/.zsh/history.zsh
if [[ -e "$HOME/.zsh/local.zsh" ]]; then
  source ~/.zsh/local.zsh
fi

source ~/.p10k.zsh

if [[ -z "${SSH_CONNECTION}" && -n "${XDG_RUNTIME_DIR}" ]]; then
    export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
fi

# vim:ft=zsh
