typeset -U path PATH
path=(~/.local/bin $path)

{{- if eq .os_like "debian" }}
if [[ -e "$HOME/.nix-profile/etc/profile.d/nix.sh" ]]; then
  source "$HOME/.nix-profile/etc/profile.d/nix.sh"
fi
{{ end }}
ZSH_PLUGINS=~/.zsh-plugins
OMZ=$ZSH_PLUGINS/oh-my-zsh
ZSH_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/oh-my-zsh"
mkdir -p "$ZSH_CACHE_DIR/completions"

# fpath additions must precede compinit so _* completion files are picked up
{{- $platformPlugin := index .omz_platform_plugins .os_like }}
{{- $allOmzPlugins := prepend .omz_plugins $platformPlugin }}
fpath+=($ZSH_PLUGINS/zsh-completions/src)
{{- range $allOmzPlugins }}
fpath+=($OMZ/plugins/{{ . }})
{{- end }}

# Initialize completion system (defines compdef, used by OMZ libs/plugins)
autoload -Uz compinit
compinit -d "$ZSH_CACHE_DIR/.zcompdump"

# OMZ libraries
{{- range .omz_libs }}
source $OMZ/lib/{{ . }}.zsh
{{- end }}

# OMZ plugins
{{- range $allOmzPlugins }}
source $OMZ/plugins/{{ . }}/{{ . }}.plugin.zsh
{{- end }}

# Third-party plugins (load order set in .chezmoidata/zsh.yaml)
{{- range .zsh_plugins }}
{{- if hasKey . "main" }}
source $ZSH_PLUGINS/{{ .name }}/{{ .main }}
{{- end }}
{{- end }}

# Additional integrations (auto-discovered from dot_zsh/integrations at apply time)
{{- range (glob (printf "%s/dot_zsh/integrations/*.zsh*" .chezmoi.sourceDir)) }}
source ~/.zsh/integrations/{{ trimSuffix ".tmpl" (base .) }}
{{- end }}

if [[ -e ~/.zsh/local.zsh ]]; then
  source ~/.zsh/local.zsh
fi

bindkey -e  # force emacs keybindings (Ubuntu's /etc/zsh/zshrc sets vi mode)

# vim:ft=zsh
