#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
# sample Brewfile: https://github.com/Homebrew/homebrew-bundle#usage
brew bundle --file=- <<-EOS
brew "zoxide"
brew "diff-so-fancy"
brew "direnv"
brew "tmux"
brew "tpm"
cask "font-jetbrains-mono-nerd-font"
EOS
{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.idLike "arch" -}}
sudo pacman -S --needed \
  zoxide \
  diff-so-fancy \
  direnv \
  ttf-jetbrains-mono-nerd \
  tmux

yay -S --needed tmux-plugin-manager
{{ end -}}
{{ end -}}

curl -L git.io/antigen > ~/antigen.zsh
