gui:
  nerdFontsVersion: '3'
{{- if or (env "SSH_CONNECTION") (env "SSH_TTY") (env "SSH_CLIENT") }}
os:
  copyToClipboardCmd: lemonade copy {{"{{"}}text{{"}}"}}
  readFromClipboardCmd: lemonade paste
{{- end }}
