[general]
import = ["~/.config/alacritty/themes/catppuccin-mocha.toml"]

[terminal.shell]
program = "/bin/zsh"
args = ["--login", "-c", "tmux"]

[env]
TERM = "xterm-256color"

[font]
normal.family = "JetBrainsMonoNL Nerd Font Mono"
{{ if eq .chezmoi.os "linux" -}}
size = 15
{{ else if eq .chezmoi.os "darwin" -}}
size = 24
{{ end -}}

[window]
decorations = "Full"
startup_mode = "Maximized"
padding.x = 7
padding.y = 0

# vim:ft=toml
